@page "/counter"

<h1>Counter</h1>

<p>Current count: @currentCount</p>

<button class="btn @tema.ButtonClass" @onclick="IncrementCount">Click me</button>

@foreach (var item in tema.ListaUnidades)
{
    <p>@item.CodUnidade - @item.NomeUnidade</p>
}

@code {
    /*
     Para recepcionar um valor passado por cascata em um componente filho,
     precisamos criar um parâmetro do tipo CascadingParameter.
    */

    [CascadingParameter]
    public Tema tema { get; set; }

    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}

